# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [54]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [44]:
csv_file = os.path.join("..", "output_data", "weather_data.csv")
weather_data = pd.read_csv(csv_file)
weather_data = weather_data.drop(columns=['Unnamed: 0'])
weather_data

,city_name,country_code,latitude,longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,gornopravdinsk,ru,60.050000,69.900000,34.41,96,100,10.22,1619812302
1,thompson,ca,55.750000,-97.866667,42.80,33,90,6.91,1619812302
2,yellowknife,ca,62.450000,-114.350000,33.01,93,90,11.50,1619812302
3,rikitea,pf,-23.120278,-134.969167,78.87,77,77,20.09,1619812303
4,palabuhanratu,id,-6.987500,106.551389,80.01,94,47,2.73,1619812303
...,...,...,...,...,...,...,...,...,...
495,paamiut,gl,62.000000,-49.750000,37.33,85,0,6.82,1619812441
496,wamba,cd,2.150000,28.000000,68.41,99,100,3.62,1619812442
497,ust-kuyga,ru,70.016667,135.600000,29.68,91,98,3.04,1619812442
498,monte alegre de minas,br,-18.866667,-48.866667,75.20,57,40,12.66,1619812443
499,bereda,so,11.850000,51.050000,81.63,77,100,8.84,1619812443

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [19]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["latitude", "longitude"]]

humidity = weather_data["Humidity"]

In [9]:
 # Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [45]:
filt = {'Max Temp': 80, 'Min Temp': 65, 'Humidity': 60, 'Wind Speed': 15, 'Cloudiness': 15}

hotel_df = weather_data[(weather_data['Max Temp'] < filt['Max Temp']) & (weather_data['Max Temp'] > filt['Min Temp']) & (weather_data['Humidity'] < filt['Humidity']) & (weather_data['Wind Speed'] < filt['Wind Speed']) & (weather_data['Cloudiness'] < filt['Cloudiness'])]

hotel_df = pd.DataFrame(hotel_df)
hotel_df = hotel_df.reset_index(drop=True)
hotel_df

,city_name,country_code,latitude,longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,silver city,us,32.770000,-108.279722,70.00,21,1,5.75,1619812311
1,kewanee,us,41.245556,-89.924722,66.00,31,2,1.99,1619812313
2,florianopolis,br,-27.583333,-48.566667,75.20,57,0,11.50,1619812338
3,veliki crljeni,rs,44.467500,20.284444,68.00,56,0,5.75,1619812348
4,bella union,uy,-30.250000,-57.583333,75.99,41,0,7.65,1619812349
5,pueblo,us,38.254444,-104.608611,79.00,14,1,5.75,1619812355
6,laguna,br,-28.483333,-48.783333,73.00,57,0,1.01,1619812367
7,somerset,us,37.091944,-84.604167,71.60,23,1,12.66,1619812372
8,marshall,us,44.446944,-95.788056,68.00,20,1,12.66,1619812374
9,rolla,us,37.951389,-91.771111,77.00,25,1,3.44,1619812376
10,karamay,cn,45.600376,84.860142,76.23,17,4,5.26,1619812384
11,ashqelon,il,31.669256,34.571490,73.00,49,0,4.61,1619812389
12,rockingham,us,34.939167,-79.774167,79.00,27,1,9.22,1619812394
13,tarata,pe,-17.474444,-70.032778,71.60,53,0,6.91,1619812400
14,hereford,us,34.815000,-102.397222,75.20,19,1,11.50,1619812403
15,enid,us,36.395556,-97.878056,77.00,41,1,9.22,1619812406
16,liberal,us,37.043056,-100.920556,75.20,19,1,5.75,1619812407
17,korla,cn,41.759722,86.146944,71.24,19,0,1.61,1619812410
18,necochea,ar,-38.547259,-58.736753,73.00,46,0,13.00,1619812412
19,ardakan,ir,32.310011,54.017474,77.00,25,0,6.91,1619812382
20,shache,cn,38.416667,77.240556,70.61,13,0,7.27,1619812433
21,show low,us,34.254167,-110.029167,75.20,14,1,6.91,1619812433
22,comodoro rivadavia,ar,-45.864135,-67.496558,68.00,45,0,10.36,1619812437
23,batesville,us,35.769722,-91.640833,78.01,35,1,6.91,1619812438
24,cortez,us,37.348889,-108.585278,75.20,16,1,10.36,1619812440

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [60]:
hotel_df['Hotel Name'] = ''
hotel_df

,city_name,country_code,latitude,longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
0,silver city,us,32.770000,-108.279722,70.00,21,1,5.75,1619812311,
1,kewanee,us,41.245556,-89.924722,66.00,31,2,1.99,1619812313,
2,florianopolis,br,-27.583333,-48.566667,75.20,57,0,11.50,1619812338,
3,veliki crljeni,rs,44.467500,20.284444,68.00,56,0,5.75,1619812348,
4,bella union,uy,-30.250000,-57.583333,75.99,41,0,7.65,1619812349,
5,pueblo,us,38.254444,-104.608611,79.00,14,1,5.75,1619812355,
6,laguna,br,-28.483333,-48.783333,73.00,57,0,1.01,1619812367,
7,somerset,us,37.091944,-84.604167,71.60,23,1,12.66,1619812372,
8,marshall,us,44.446944,-95.788056,68.00,20,1,12.66,1619812374,
9,rolla,us,37.951389,-91.771111,77.00,25,1,3.44,1619812376,
10,karamay,cn,45.600376,84.860142,76.23,17,4,5.26,1619812384,
11,ashqelon,il,31.669256,34.571490,73.00,49,0,4.61,1619812389,
12,rockingham,us,34.939167,-79.774167,79.00,27,1,9.22,1619812394,
13,tarata,pe,-17.474444,-70.032778,71.60,53,0,6.91,1619812400,
14,hereford,us,34.815000,-102.397222,75.20,19,1,11.50,1619812403,
15,enid,us,36.395556,-97.878056,77.00,41,1,9.22,1619812406,
16,liberal,us,37.043056,-100.920556,75.20,19,1,5.75,1619812407,
17,korla,cn,41.759722,86.146944,71.24,19,0,1.61,1619812410,
18,necochea,ar,-38.547259,-58.736753,73.00,46,0,13.00,1619812412,
19,ardakan,ir,32.310011,54.017474,77.00,25,0,6.91,1619812382,
20,shache,cn,38.416667,77.240556,70.61,13,0,7.27,1619812433,
21,show low,us,34.254167,-110.029167,75.20,14,1,6.91,1619812433,
22,comodoro rivadavia,ar,-45.864135,-67.496558,68.00,45,0,10.36,1619812437,
23,batesville,us,35.769722,-91.640833,78.01,35,1,6.91,1619812438,
24,cortez,us,37.348889,-108.585278,75.20,16,1,10.36,1619812440,

In [61]:
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# loop df / make calls for each row / write response to df
for ind in hotel_df.index:

    city_lat = str(hotel_df['latitude'][ind])
    city_lng = str(hotel_df['longitude'][ind])

    target_coordinates = f"{city_lat}, {city_lng}"
    target_search = "hotel"
    target_radius = 5000
    target_type = "hotel"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)

    #make json
    return_data = response.json()

    try:
        # parse and extract first hotel name
        my_hotel = return_data["results"][0]["name"]

        # write hotel name to hotels_df
        hotel_df.loc[hotel_df.index[ind], 'Hotel Name'] = my_hotel
    
    except(KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.

In [66]:
#rename columns to match the template
hotel_df.rename(columns={'city_name': 'City', 'country_code': 'Country'}, inplace=True)

#drop cities that don't have hotels, then reindex for plotting
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df = hotel_df.reset_index(drop=True)
hotel_df

,City,Country,latitude,longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
0,silver city,us,32.770000,-108.279722,70.00,21,1,5.75,1619812311,Holiday Inn Express Silver City
1,kewanee,us,41.245556,-89.924722,66.00,31,2,1.99,1619812313,AmericInn by Wyndham Kewanee
2,florianopolis,br,-27.583333,-48.566667,75.20,57,0,11.50,1619812338,WK DESIGN HOTEL FLORIANOPOLIS
3,bella union,uy,-30.250000,-57.583333,75.99,41,0,7.65,1619812349,Manantiales Hoteles y Entretenimientos.
4,pueblo,us,38.254444,-104.608611,79.00,14,1,5.75,1619812355,Courtyard by Marriott Pueblo Downtown
5,laguna,br,-28.483333,-48.783333,73.00,57,0,1.01,1619812367,Laguna Tourist Hotel
6,somerset,us,37.091944,-84.604167,71.60,23,1,12.66,1619812372,Courtyard by Marriott Somerset
7,marshall,us,44.446944,-95.788056,68.00,20,1,12.66,1619812374,AmericInn by Wyndham Marshall
8,rolla,us,37.951389,-91.771111,77.00,25,1,3.44,1619812376,Holiday Inn Express & Suites Rolla - Univ of M...
9,karamay,cn,45.600376,84.860142,76.23,17,4,5.26,1619812384,Zhengtian Landmark Hotel
10,rockingham,us,34.939167,-79.774167,79.00,27,1,9.22,1619812394,Fairfield Inn & Suites by Marriott Rockingham
11,tarata,pe,-17.474444,-70.032778,71.60,53,0,6.91,1619812400,Hospedaje Real Plaza Tarata
12,hereford,us,34.815000,-102.397222,75.20,19,1,11.50,1619812403,Holiday Inn Express Hereford
13,enid,us,36.395556,-97.878056,77.00,41,1,9.22,1619812406,Holiday Inn Express & Suites Enid-Hwy 412
14,liberal,us,37.043056,-100.920556,75.20,19,1,5.75,1619812407,Hampton Inn & Suites Liberal
15,korla,cn,41.759722,86.146944,71.24,19,0,1.61,1619812410,The Garden Hotel Korla
16,necochea,ar,-38.547259,-58.736753,73.00,46,0,13.00,1619812412,Hotel Ã‘ikÃ©n Spa & Business Center
17,ardakan,ir,32.310011,54.017474,77.00,25,0,6.91,1619812382,Kheshtomah Ecolodge
18,shache,cn,38.416667,77.240556,70.61,13,0,7.27,1619812433,Xinsheng Hotel
19,show low,us,34.254167,-110.029167,75.20,14,1,6.91,1619812433,Hampton Inn & Suites Show Low-Pinetop
20,comodoro rivadavia,ar,-45.864135,-67.496558,68.00,45,0,10.36,1619812437,Lucania Palazzo Hotel
21,batesville,us,35.769722,-91.640833,78.01,35,1,6.91,1619812438,"Holiday Inn Express & Suites Batesville, an IH..."
22,cortez,us,37.348889,-108.585278,75.20,16,1,10.36,1619812440,Holiday Inn Express Mesa Verde-Cortez

In [67]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [68]:
# Add marker layer ontop of heat map

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Display figure

fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))